<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: inline-block;">
        <form action="/draw" method="get" style="display: flex;">
            <input type="number" style="height: 2rem; width:10vw" name="int_1">
            <div style="size: 2rem;">X^3+</div>
            <input type="number" style="height: 2rem; width:10vw" name="int_2" >
            <div style="size: 2rem;">X^2+</div>
            <input type="number" style="height: 2rem; width:10vw" name="int_3" >
            <div style="size: 2rem;">X+</div>
            <input type="number" style="height: 2rem; width:10vw" name="constant">
            <div style="size: 2rem;">=y</div>
            <br>
            <input type="submit" value="送出">
        </form>
        <img src="https://cdcc-49-159-181-53.jp.ngrok.io/static/1.png" style="width: 100vw">
        <img src="https://cdcc-49-159-181-53.jp.ngrok.io/static/2.png" style="width: 100vw">

    </div>
</body>
</html>